{{!-- 類別篩選 --}}
<div class="dropdown mb-4">
    <a class="dropdown-toggle btn btn-outline-secondary w-100" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">類別</a>
    <ul class="dropdown-menu w-100">
        <li><a class="dropdown-item" href="/">全部</a></li>
        <li><a class="dropdown-item" href="/search?sortBy=家居物業">家居物業</a></li>
        <li><a class="dropdown-item" href="/search?sortBy=交通出行">交通出行</a></li>
        <li><a class="dropdown-item" href="/search?sortBy=休閒娛樂">休閒娛樂</a></li>
        <li><a class="dropdown-item" href="/search?sortBy=餐飲食品">餐飲食品</a></li>
        <li><a class="dropdown-item" href="/search?sortBy=其他">其他</a></li>
    </ul>
</div>
{{!-- 總金額 --}}
<div class="d-flex justify-content-evenly align-items-center mb-4 text-warning fw-bold">
    <div class="fs-5">總金額：</div>
    <div class="fs-2">${{totalAmount}}</div>
</div>
{{!-- 支出清單 --}}
<ul class="list-group list-group-flush mb-5">
    {{#each records}}
    <li class="list-group-item d-flex justify-content-between align-items-center text-muted">
        <div class="d-flex align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div><i class="{{this.categoryId.icon}} me-3 fs-4"></i></div>
                <div class="d-flex flex-column">
                    <div>{{this.name}}</div>
                    <div>{{this.date}}</div>
                </div>
            </div>
        </div>
        <div>
            ${{this.amount}}
        </div>
        <div>
            <a href="" class="btn btn-outline-primary">修改</a>
            <a href="" class="btn btn-outline-primary">刪除</a>
        </div>
    </li>
    {{/each}}
</ul>
{{!-- 新增支出 --}}
<div class="d-flex justify-content-center">
    <a href="/records/new" class="btn btn-secondary btn-lg">新增支出</a>
</div>